.CardWrapper {
  width: 100%;
  padding: 10px;
  border-radius: 10px;

  &_header {
    margin-bottom: 20px;

    &_info {
      margin-bottom: 10px;

      &_title {
        margin-right: 20px;
        color: var(--color-text-dark);
        font-family: "Yandex Sans", sans-serif;
        font-weight: 700;
        font-size: 18px;
      }

      &_des {
        color: var(--color-text-regular);
        font-family: "Yandex Sans", sans-serif;
        font-weight: 400;
        font-size: 16px;
      }
    }

    &_designers {
      display: flex;

      &_designer {
        margin-right: 10px;
        width: 60px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &_photos {
    width: 100%;
    display: flex;

    &_phohto {
      width: 25%;
    }
  }
}