.WorkPage {
  &_title {
    color: var(--color-text-dark);
    font-family: "Yandex Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
  }

  &_description {
    color: var(--color-text-regular);
    font-family: "Yandex Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
  }

  &_designers {
    margin-bottom: 20px;

    &_title {
      margin-bottom: 10px;
      color: var(--color-text-dark);
      font-family: "Yandex Sans", sans-serif;
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 10px;
    }

    &_list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      &_cardWrapper {
        padding: 10px;
        width: 25%;

        &_card {
          width: 100%;
          padding: 10px;
          border-radius: 10px;
          background-color: var(--color-block-background);

          &_avatar {
            width: 100%;
            margin-bottom: 10px;
          }

          &_name {
            margin-bottom: 10px;
            color: var(--color-text-dark);
            font-family: "Yandex Sans", sans-serif;
            font-weight: 400;
            font-size: 18px;
            margin-bottom: 10px;
          }

          &_description {
            margin-bottom: 10px;
            color: var(--color-text-regular);
            font-family: "Yandex Sans", sans-serif;
            font-weight: 400;
            font-size: 14px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  &_photos {
    &_title {
      margin-bottom: 10px;
      color: var(--color-text-dark);
      font-family: "Yandex Sans", sans-serif;
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 10px;
    }

    &_list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      &_imgWrapper {
        padding: 10px;
        width: 25%;

        &_img {
          max-width: 100%;
          min-width: 100%;
        }
      }
    }
  }
}