.ManagementModule {
  &_title {
    color: var(--color-text-dark);
    font-family: "Yandex Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
    padding-top: 10px;
  }

  &_list {
    &_item {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}